.standard {
  margin: 0;
  background-color: black;
  color: white;
}

.tutorial {
  background-color: black;
  color: white;
}

.tutorialMain {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}

.space {
  margin-top: 4%;
}

.footer {
  width: 100%;
  text-align: center;
  position: relative;
  bottom: 0;
  color: rgb(160, 160, 160);
}

.introText {
  text-align: center;
  margin-top: 10%;
}

.introForm {
  text-align: center;
  margin-top: 2%;
}

.instructionsLink {
  text-align: center;
  text-decoration: none;
  margin-top: 1%;
}